*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: 'Poppins', sans-serif;
}
.Hero-Section{
    display: flex;
    background-color: black;
    width: 80%;
    align-items: center;
}
.Hero-Section div h1{
    color: white;
}
