/* body section style  */
body{
    font-family: 'Poppins', sans-serif;

}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 1321px;
    margin: 0 auto;    
}

/* header style */
header{
    display: flex;
    justify-content: center;
    color: white;
    margin:4% 0;
    align-items: center;
    background-color: black;
    border-radius: 30px;
    position: relative;
}
.half-wth{
    width: 50%;
}
.head-font{
    margin-left: 5%;
}
.head-image{
    margin-top: 3%;
}
#qatar{
    color: red;
}
#ball{
    width: 60px;
    position: absolute;
    top: 5%;
    left: 5%;
    padding: 7px;
    border: 2px solid gold;
    border-radius: 50%;
    animation: move 2s linear infinite  ;
}
@keyframes move {
    0%{
        border-right-color: red;
        transform: rotate(0deg);
    }
    100%{
        border-left-color: blue;
        transform: rotate(360deg);
    }
}
.half-wth h1{
    font-size: 3.5vw;
}
.half-wth img{
    width: 92%;
}
.head-button{
    color: #fff;
    font-size: 18px;
    padding: 15px 35px;
    border-radius: 10px;
    background-color: #DD0000;
    
    
}

/* main blog style */
main{
    display: flex;
    margin:0 auto 60px;
}
.head-text{
    color: #fff;
}
aside{
    min-width: 255px;
    height: 230px;
    padding: 10px;
    margin-right: 15px;
    background-color: black;
    border-radius: 10px;
}
h3{
    font-size: 18px;
}
.side-button{
    text-align: center;
    height: 40px;
    padding-top: 9px;
    margin: 15px 8px;
    font-size: 20px;
    background-color: rgb(253, 243, 243);
    border-radius: 5px;    
}
.special-button{
    background-color: #DD0000;
    
}
.upcome-btn{
    color: rgb(109, 66, 66);
}
.blogs-part{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}
.blog{
    padding: 10px;
    border: 1px solid  #E8E8E8;
    box-shadow: 0px 4px  #E8E8E8;
    border-radius: 10px;
}
main img{
    width: 100%;
}
.blog-button{
    padding: 5px 15px;
    border-radius: 5px;
    background-color: whitesmoke;
}
.text{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3%;
    margin-top: -20px;
    font-size: 18px;
}
.tab-btn{
    display: none;
    margin: 40% auto;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.link{
    color: black;
}

/* footer style */
footer{
    padding: 30px 15%;
    color: rgb(255, 255, 255);
    background-color: black;
    text-align: center;
}
.bottom-menu{
    display: flex;
    justify-content: space-evenly;
   

}

/* for extra file */
.match-info{
    text-align: center;
    padding: 10%; 
    box-sizing: border-box; 
    width: 290px;
} 

p{
    color: rgb(0, 0, 0);
    font-size: 15px;
}
.flag{
    display: flex;
    justify-content: space-evenly;
}

 /* tablet responsive */
@media only screen and (min-width:756px) and (max-width:1100px) {
    .container{
        width: 95%;
    }
    main{
        flex-direction: column;
    }
    aside{
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        height: 80px;
        background-color: white;
    }
    .side-button{
        display: inline;
    }
    .blogs-part{
        grid-template-columns: repeat(2, 1fr);
    }
    .match-info{
        width: 100%;
    }
    .tab-btn{
        display: block;
    }
}

 /* mobile responsive  */
@media only screen and (max-width:755px) {
    .container{
        width: 95%;
    }

    /* for header */
    header{
        flex-direction: column;
        margin-top: 30px;
        padding-top: 20px;
    }
    .half-wth{
        text-align: center;
    }

    /* for main */
    main{
        flex-direction: column; 
    }
    aside{
        display: flex;
        flex-direction: column-reverse;
        background-color: white;
    }
    .blogs-part{
        grid-template-columns: 1fr;
        margin: 0 auto;
    }
    
    
    /* for footer */
    .bottom-menu{
        flex-direction: column;
        
        
    }
} 



